<template>
  <div>
    <button type="button" class="btn btnVoltar">
      <font-awesome-icon icon="arrow-left" />
    </button>
    <br /> <br />
    <h1 class="text-left h1title">Tabela de produtos</h1>
    <p class="text-left">Exemplo de pagina que vai usar de algum tipo de tabela informativa para <br />
      referência na criação de futuras páginas
    </p>
      <div class="table table-responsive divtabelaprodutos">

        <div class="row">
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback">
                <font-awesome-icon icon="search" />
              </span>
              <input @keyup="filtra()" v-model="tabela.busca" type="text" class="form-control stylebuscaInput" placeholder="Pesquise por um produto, valor ou EAN">
            </div>
          </div>
          <div class="col-md-12 col-lg-2 col-xs-12"></div>
          <div class="col-md-12 col-lg-6 col-xs-12 divbtntable">
            <button type="button" class="btn btn-sm btnFiltro">
              <font-awesome-icon icon="filter" />
              Filtro
            </button>
            <button type="button" class="btn btn-sm btn-info divbotoes">Selecionar Todos</button>
            <button type="button" class="btn btn-danger btn-sm">Excluir</button>
            <button type="button" class="btn btn-sm btn-info divbotoes">Importar</button>
            <button type="button" class="btn btn-sm btn-info divbotoes">Adicionar Produto</button>
          </div>
        </div>
        <br />
        <table class="table">
          <thead>
          <tr class="cabecalhotabelaprodutos">
            <th class="styletitle" scope="col"></th>
            <th class="styletitle" scope="col">DESCRIÇÃO</th>
            <th class="styletitle" scope="col">VALOR</th>
            <th class="styletitle oferta" scope="col">OFERTA</th>
            <th class="styletitle" scope="col">PERIODO</th>
            <th class="styletitle" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="borderLinhas"  v-for="(item, index) in tabela.listaChunk[tabela.pagination.currentPage - 1]" :key="index">
            <!-- <th scope="row"> -->
            <td>
              <ul>
                <li>
                  <label class="container">
                    <input type="checkbox"
                      name="" id="">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </td>
            <!-- </th> -->
            <td class="styletitle">{{item.descricao}}</td>
            <td class="styletitle">R$ {{item.valor}}</td>
            <td v-if="item.oferta == 0.00 || item.oferta == '' ">
              <div v-show="item.id != itemSelect">
                <button @click="ativarOferta(item)" class="btn ofertaStyle">
                  <div class="bolinha">
                  </div>
                  Ativar
                </button>
              </div>
              <!-- <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2" > -->
                  <input v-show="item.id == itemSelect"
                    class="form-control" type="number" name="" id="">
                <!-- </div>
              </form> -->
            </td>
            <td v-else>
              <div class="ofertaAtivaStyle">
                <div>
                  <div class="bolinha roxa">
                  </div>
                  R$ {{item.oferta}}
                </div>
              </div>
            </td>
            <td class="styletdperiodo" v-if="item.periodo != ''">
              {{item.periodo}}
              <font-awesome-icon color="#828282" icon="calendar-alt" />
            </td>
            <td v-else>
              <!-- <button class="btn btn-light" @click="adicionarPeriodo()">
                Adicionar
              </button> -->
            </td>
            <td>
              <a class="linkStyle" href="#">+Detalhes</a>
              <button class="btn" @click="removeProduto(item)">
                <font-awesome-icon color="#4bcded" icon="trash-alt" />
              </button>
            </td>
          </tr>
        </tbody>
          <rodapeTabela :length="tabela.lista.length" />
        </table>
      </div>
      <br />
      <div class="row"
      v-show="!load"
      >
				<div class="col-md-12 text-right">
					<nav>
						<ul class="pagination" style="margin:0px">
							<li :class="{'disabled': tabela.pagination.currentPage == 1 }">
								<a href="#" @click.prevent="previous">
									<span aria-hidden="true">
                    <font-awesome-icon color="#58C7DC" icon="angle-left" />
									</span>
								</a>
							</li>
							<li v-for="(item, index) in tabela.pagination.pageNumbers"
								class="btnpagination"
                :class="{'active': item == tabela.pagination.currentPage}" :key="index">
								<a class="borderPagination" href="#" @click.prevent="page(item)">{{item}}</a>
							</li>
							<li :class="{'disabled': tabela.pagination.currentPage == tabela.pagination.totalPages }">
								<a href="#" @click.prevent="next">
									<span aria-hidden="true">
                    <font-awesome-icon color="#58C7DC" icon="angle-right" />
                  </span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
  </div>
</template>

<script>

import $tabela from '../mixins/tabela.js'
import rodapeTabela from '../components/rodape-tabela.vue'
import json from '../data/exemploprodutos.json'

export default {
  components: {
		rodapeTabela
	},

	mixins: [
		$tabela
  ],

  data () {
    return {

      listaDefault:{
			 	type: Boolean,
			 	default: true
			},

      tabela: {
				lista: [],
				listaChunk: [],
				column: 'descricao',
				columns : ['descricao', 'valor', 'oferta', 'periodo'],
				inverse: 'asc',
				busca: "",
				bouse: false,

				pagination: {
					currentPage: 1,
					totalPages: 2,
					totalItens: 20,
					pageNumbers: [],
					perPage: 5,
				},
			},

      load: false,

      itemSelect: 0

    }

  },

  created() {
    //alert("hello word")
		this.carregaTabelaProdutos()

  },

  mounted () {
	},

  methods: {

    ativarOferta(item){
      console.log("ativar oferta")
     //this.ativado = true
      this.itemSelect = item.id
    },

    carregaTabelaProdutos (){
       //let promise = this.$http.get('api');
      // promise.then(res => console.log("res" res))

      let promise = json;


      this.tabela.lista = promise.produtos
      this.filtraCore()

      //console.log("res", this.tabela.lista)
    },

    removeProduto(item){
      if(confirm('Deseja excluir esse produto?')){
          let indice = this.tabela.lista.indexOf(item);
          this.tabela.lista.splice(indice, 1);
          this.filtraCore()
          alert("Produto Removido!")
         // this.mensagem = 'Foto removida com sucesso';
      }
    },

    adicionarPeriodo(){

    }
  },
}
</script>

<style scoped>

.divtabelaprodutos{
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
}
.btnVoltar{
  margin-left: 50px;
  position: absolute;
  left: 0;
}
.cabecalhotabelaprodutos{
  background-color: rgb(214, 243, 251);
}

.has-search .form-control {
  padding-left: 2.375rem;
  background-color: rgb(214, 243, 251);
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #58C7DC;
}

.divbotoes{
  margin: 0px 15px;
  background-color: #58C7DC !important;
  border-color: #58C7DC !important;
}
.borderLinhas{
  /* border-top: 1px solid rgb(81, 81, 81);
  border-bottom: 1px solid rgb(81, 81, 81); */
}

.oferta{
  width: 130px;
}

.pagination{
  margin-top: 5px;
  margin-left: 75% !important;
}

.linkStyle{
  color: #58C7DC;
}

.list-style {
  list-style-type: disc;
  list-style-position: inside;
}

.borderPagination{
  border: 1px solid rgb(174, 174, 176);
  padding: 1px 10px;
  border-radius: 5px;
  color: #58C7DC;
}

.borderPagination:hover{
  background-color: #58C7DC;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none;
  /* padding: 0 5px !important; */
}

/* .borderPagination:visited{
  background-color: #58C7DC;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none;
} */

.ofertaAtivaStyle{
  background-color: rgb(228, 229, 247);
  color: rgb(150, 77, 221);
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: bold;
  /* display: flex; */
}

.ofertaStyle{
  background-color: rgb(228, 229, 247);
  color: rgb(174, 174, 176);
  padding: 5px 10px;
  border-radius: 30px;
}

.stylebuscaInput{
  border: 1px solid rgb(214, 243, 251);
}

.bolinha{
  background: rgb(174, 174, 176);
  width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 6px;
  margin-right: 2px;
	float: left;
}

.roxa{
  background: rgb(150, 77, 221) !important;
}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #58C7DC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.styletitle{
  color: #292929;
  font-weight: unset;
}

.btnFiltro{
  /* color: #C6C6C6; */
  color: rgb(142, 142, 142);
  background-color: #fff;
}

.styletdperiodo{
  color: #828282;
}

.h1title{
  font-weight: bold;
}



@media only screen and (max-width: 786px){
  .divtabelaprodutos{
    overflow: scroll;
  }

  .divbtntable {
    border: 2px solid red;
    /* flex: 0 0 0 0 !important;
    max-width: unset !important;
    display: flex !important;
    margin-bottom: 15px !important; */
  }
}


</style>
