<template>
	<tfoot v-if="length == 0">
		<tr>
			<th colspan="40" class="text-center">
				Nenhum registro encontrado.
			</th>
		</tr>
	</tfoot>
</template>

<script>
export default {
    props: {
      length: {
          type: Number,
          default: 0,
          required: true,
      }
    }
}
</script>

